@* @inject IHtmlLocalizer<AbpSettingManagementResource> L *@
@* @using Microsoft.AspNetCore.Mvc.Localization *@
@* @using Volo.Abp.SettingManagement.Localization *@
@model Volo.Abp.Study.Web.Components.ContactsSyncSettings.UpdateContactsSettingsViewModel        
<abp-script src="/Components/ContactsSyncSettings/Default.js"></abp-script>

<form id="SyncSettingForm" method="post">

    <abp-row>
        <abp-column size-md="_12">
            <div>
                <abp-input asp-for="SyncEnabled"/>
                <abp-input asp-for="ProviderName"></abp-input>
            </div>

            <hr class="my-4"/>
            <div>
                <abp-button button-type="Primary" type="submit">
                    <i class="fa fa-save"></i> 保存
                </abp-button>            
                
                
                <abp-button button-type="Primary" id="TestConnectButton">
                    <i class="fa fa-send"></i> 测试连接
                </abp-button>
            </div>
        </abp-column>
    </abp-row>
</form>